<div class="container">
    <div class="row mt-3">
        <div class="col-9">
            {{#each threadData}}
            <div class="card mt-3">
                <div class="d-flex p-2">
                    <div class="d-flex flex-grow-1">
                        <img src="https://via.placeholder.com/20" class="rounded-circle mr-2 d-block w-20" alt="img">
                        {{this.fullName}}

                    </div>

                </div>
                <div class="card-body p-2">
                    <h5 class="card-title">{{this.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{this.comment}}</h6>
                    {{!-- <div class="d-flex justify-content-center">
                        <img src="https://via.placeholder.com/150" class="rounded mr-2 ml-2 d-block" alt="img">
                        <img src="https://via.placeholder.com/150" class="rounded mr-2 ml-2 d-block" alt="img">
                    </div> --}}

                </div>

                <div class="card-footer p-2">
                    <button type="button" class="btn btn-sm btn-light">
                        <i class="fas fa-comment-alt mr-1"></i>Comment
                    </button>

                    {{#if ../auth}}
                    <button type="button" class="btn btn-sm btn-light"
                        onclick="addRemovelike('{{this._id}}', '{{../userID}}')">
                        {{#if this.userlike}}
                        <i id={{this._id}} class="fas fa-thumbs-up"></i>
                        {{else}}
                        <i id={{this._id}} class="far fa-thumbs-up"></i>
                        {{/if}}

                        like(<span id="count-{{this._id}}">{{this.likeCount}}</span>)
                    </button>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
         <div class="col-9">
        {{#if message}}
        <h3>{{message}}</h3>
        {{/if}}
        </div>
        <div class="col-3">
            <div class="card">
                <h5 class="card-title bg-light text-center">Trending this week</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex">
                        1
                        <img src="https://via.placeholder.com/20" class="rounded-circle mr-2 ml-2 d-block w-20"
                            alt="img">
                        Cras justo odio
                    </li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>
        </div>
    </div>
</div>