<div id="error" class="error"></div>
<div class="profile"> 
    {{#if ../auth}}
    <section>
        <ul>
            <li>
                {{this.profileLogo}}<br>
            </li>
            <li>
                Full Name: {{this.fullName}}<br>
            </li>
            <li>
                Email Address: {{this.emailAddress}} <br>
            </li>
            <li>
                Favorite Genres: {{this.genres}}<br>
            </li>
            <li>
                Favorite Artists: {{this.artist}}<br>
            </li>
        </ul>
    </section>
    {{/if}}
    <nav>
        <a href="/logout">Logout</a>
    </nav>
</div>   