<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{username}}: Profile</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <nav>
        <h4>NAV: <a href="/about">About</a> | <a href="/forum">Forum</a> | <a href="/metrics">Metrics</a> | <a href="/profile">Profile</a> | <a href="/logout">Sign Out</a></h4>
    </nav>
    <h1>{{firstName}} {{lastName}}</h1>
    <h3>Profession: {{profession}}</h3>
    <br>
  </header>
  <main>
    <p>Username: {{username}}</p>
    <p>About Me: {{bio}}</p>

    <br>
  </main>
    <footer>
      <p>Top Music - CS 546 B</p>
    </footer>
</body>
</html>