<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1>{{firstName}} {{lastName}}</h1>
    <h3>Profession: {{profession}}</h3>
    <br>
  </header>
  <main>
    <p>Username: {{username}}</p>
    <p>Biography: {{bio}}</p>
    <br>
  </main>
    <footer>
        <nav>
            <h4>NAV: <a href="/help">Help</a> | <a href="/">Home</a> | <a href="/logout">Sign Out</a></h4>
        </nav>
    </footer>
</body>
</html>