<article class="new-thread">
  <h1>Make a Thread</h1> <!--Call this a Thread? Post?-->
  <!--threads and posts-->
  <form action="/posts" method="POST" class="new-thread-post">
    <label>
      Thread Title
      <input type="text" name="title" placeholder="Thread Title" value="{{thread.title}}" class=""/> <!--class was = full-width-input-->
    </label>
    <label for="thread-body">
      Thread Body
    </label>
    <textarea id="thread-body" name="body" rows="4" placeholder="Thread Content" class="">{{thread.body}}</textarea> <!--class was = full-width-input-->

    <!--Thread Sub-Threads
    thread.subThread (all of the comments, going to be empty at first with new thread)-->

    {{!-- <label for="poster">
      Thread Poster
    </label>
    <select class="" name="posterId"> <!--class was = full-width-input-->
      <option value="">Select User...</option>
      {{#each users}}
        <option value="{{_id}}">{{firstName}} {{lastName}}</option>
      {{/each}}
    </select> --}}
    <!--
    <label>
        <input type="radio" name="user-test" value="1" /> One
    </label>
    <label>
        <input type="radio" name="user-test" value="2" /> Two
    </label>

    <div>
        <label>
        <input type="checkbox" name="checkbox-test" value="first" /> First
    </label></div>
    <div>
        <label>
        <input type="checkbox" name="checkbox-test" value="second" /> Second
    </label></div> -->
    <button type="submit">Create New Thread</button>
    <button type="reset">Clear Form</button>
  </form>
</article>