<article class="forum">
  <h1>{{ forum.title }}</h1>
  <address>Posted by {{forum.poster.name}}</address>
  <p>{{ forum.body }}</p>

  {{#if forum.tags.length}}
    <h3>Tags</h3>
    <ul>
      {{#each forum.tags}}
        <li><a href="/posts/tag/{{this}}">{{this}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
  <a href="/">Back to All Forums</a>
</article>